$white_background-color: #FFFFFF;
$hover-and-button-color: #626CA9;
$header-bar-color: #000000;
$header-bar-link: #212121;
$white-text-color: #FFFFFF;
$project-stage-text:#747474;
$specialization1-background-color: #ECF1FF;
$specialization2-background-color: #F2EDEA;
$specialization3-background-color: #F3FBFF;
$card-gap: 30px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timer: 250ms;