@use "../utils/variables";
.hero-section {
  z-index: 1;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(33 / 22);
  text-transform: capitalize;
  color: variables.$white-text-color;
  padding-bottom: 10px;
}

.hero__desc {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: variables.$white-text-color;
  padding-bottom: 25px;
}
.hero__button {
  width: 216px;
  background: variables.$white-text-color;
  border-radius: 100px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: variables.$hover-and-button-color;
  margin-bottom: 20px;
}

.hero__button:hover, .hero__button:focus {
  background-color:  #626ca9;
  color: white;
}

.Hero__tetx {
  width: 100%;
  background: rgba(98, 108, 169, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 27px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .hero__title {
    width: 320px;
  }
  .hero__desc {
    width: 286px;
  }
  .Hero__tetx {
    width: 360px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        69.43deg,
        rgba(59, 8, 85, 0.2) 47.94%,
        rgba(135, 111, 173, 0) 79.74%
      ),
      url(../images/studio/hero-mobile.jpg),
      url(../images/studio/hero-mobile@2x.jpg);
    height: 500px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          69.43deg,
          rgba(59, 8, 85, 0.2) 47.94%,
          rgba(135, 111, 173, 0) 79.74%
        ),
        url(../images/studio/hero-mobile.jpg),
        url(../images/studio/hero-mobile@2x.jpg);
      height: 500px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 395px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    text-transform: capitalize;
    color: variables.$white-text-color;
  }
  .hero__desc {
    width: 395px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: variables.$white-text-color;
  }

  .Hero__tetx {
    width: 455px;
    padding-left: 20px;
  }

  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        69.43deg,
        rgba(59, 8, 85, 0.2) 47.94%,
        rgba(135, 111, 173, 0) 79.74%
      ),
      url(../images/studio/hero-tablet.jpg),
      url(../images/studio/hero-grain-bg.jpg);
  }

  .hero-section__title {
    font-size: 26px;
    width: 360px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      padding-top: 118px;
      padding-bottom: 118px;
      background-image: linear-gradient(
          69.43deg,
          rgba(59, 8, 85, 0.2) 47.94%,
          rgba(135, 111, 173, 0) 79.74%
        ),
        url(../images/studio/hero-tablet@2x.jpg),
        url(../images/studio/hero-grain-bg.jpg);
    }
  }
}

@media (min-width: 1200px) {
  .hero__title {
    width: 530px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: capitalize;
    color: variables.$white-text-color;
  }
  .hero__desc {
    width: 399px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: variables.$white-text-color;
  }

  .Hero__tetx {
    width: 590px;
    padding-left: 30px;
    margin-left: 375px;
  }

  .hero-section {
    background-image: linear-gradient(
        69.43deg,
        rgba(59, 8, 85, 0.2) 47.94%,
        rgba(135, 111, 173, 0) 79.74%
      ),
      url(../images/studio/hero-desk.jpg),
      url(../images/studio/hero-grain-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          69.43deg,
          rgba(59, 8, 85, 0.2) 47.94%,
          rgba(135, 111, 173, 0) 79.74%
        ),
        url(../images/studio/hero-desk@2x.jpg),
        url(../images/studio/hero-grain-bg.jpg);
    }
  }
}
